{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    
<div class="container-fluid  mt-0 ">
    <div class="row" style="height: 70vh;">
        
        
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-3 ">
            
            <div class="card">
                <div class="card-body" style="font-size: 1em; overflow:auto">
                    <ul>
                        <li> Please  choose an Identifier column 
                            using the dropdown at the top of the column
                        </li>
                        <li> Optionally you can also identify a Term column </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="margin-top:1em; overflow:auto">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        
                        {% if setchks_session.columns_info.identification_sufficient ==True %}
                            {% if setchks_session.column_content_assessment.fraction_valid_sctid_rows < 0.3 %}
                                <li style="color: red;"> <b>[Alert] Your chosen 
                                    Identifier column does not appear to contain a high proportion of 
                                    Identifiers conforming to the SCTID data type. You may have selected the wrong column.</b> 
                                </li>
                            {% endif %}  
                             
                        {% else %}
                            <li style="color: red;"> <b>[Alert] You need to choose an 
                                Identifier column before proceeding to the next page</b> </li>
                        {% endif %}     
                        {% if not setchks_session.columns_info.have_dterm_column  %}
                        <li> <b>[Tip] 
                            If you want the checks to assess Terms
                            then you need to choose a Term column. If you only want the checks
                            to assess the Identifiers that you have provided then you can proceed 
                            without choosing a Term column.
                        </b> 
                        </li>
                    {% endif %}                         
                    </ul>
                </div>
            </div>
        
        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-9 ">
            
            
            <!-- THE TABLE -->
            
            <div class="card"  style="height:70vh; overflow:auto">
                <!-- <div class="card-header">
                    <strong>Table</strong>
                </div>                 -->
                <div class="panel" >
                <table class="table table-bordered" >

                    <thead>
                        


                            {% set pulldown_text = ({"MIXED":"Identifier","DTERM":"Term","OTHER":"Other"})	%}
                            
                            <tr>
                                <th scope="col">Column type <i class="bi bi-arrow-right"></i></th>
                                {%for cell in file_data[0] %}
                                <th scope="col">
                                    <div>
                                        {% set icol=loop.index-1 %}
                                        {% set column_form_name = "type_selector_form_for_col_" + icol|string %}
                                        <form action="/column_identities" class="{{ column_form_name }}" method="post" enctype="multipart/form-data">
                                            {% set column_selector_name = "type_selector_for_col_" + icol|string %}
                                            <select name="{{ column_selector_name }}" class="form-select" 
                                                onchange="$('.{{ column_form_name }}').submit();" 
                                                style="margin-top: 0.5em;"
                                                >
                                                {% for available_type in ["MIXED","DTERM","OTHER"] %} 
                                                    {% if available_type == setchks_session.columns_info.column_types[icol] %}
                                                    <option selected
                                                    {% else %}
                                                    <option
                                                    {% endif %} 
                                                    value={{ available_type }}> {{ pulldown_text[available_type] }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>  
                                    
                                </th>
                                {% endfor %}
                            </tr>

                            <!-- <tr>
                                <th scope="col"></th>
                                {%for cell in file_data[0] %}
                                <th scope="col" style="font-style:italic;"> Column analysis here (TBI)</th>
                                {% endfor %}
                            </tr> -->
                    
                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col">Row 1 (Header)</th>
                                {%for cell in file_data[0] %}
                                <th scope="col">{{ cell.string }}</th>
                                {% endfor %}
                            </tr>
                    
                    
                        </thead>
                    

                        {% for row in file_data[1:] %}
                            <!-- {% if rows_processable[loop.index-1] %} -->
                            <tr>
                            <!-- {% else %}
                            <tr style="background-color: lightgray;">
                            {% endif %} -->
                                <th scope="row">Row {{ loop.index + 1 }}</th>
                            {%for cell in row %}
                                <td>{{ cell.string }}
                                <!-- {% set column_type=setchks_session.columns_info.column_types[loop.index-1] %}
                                {% if cell.component_type=="Concept_Id" and column_type in ["DID","DTERM","OTHER"] %} <b>(C!)</b> {% endif %}
                                {% if cell.component_type=="Concept_Id" and column_type in ["CID","MIXED"] %} (C) {% endif %}
                                {% if cell.component_type=="Description_Id" and column_type in ["CID","DTERM","OTHER"] %} <b>(D!)</b> {% endif %}
                                {% if cell.component_type=="Description_Id" and column_type in ["DID","MIXED"] %} (D) {% endif %}
                                {% if cell.component_type not in ["Description_Id","Concept_Id"] and column_type in ["CID","DID","MIXED"] %} <b>(!)</b> {% endif %} -->
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        <tbody>
                  </table>
                </div>
            </div>




        </div>



    </div>
    <!-- <div class="row" style="margin-top:1em"> -->
    <!-- <div class="row" style="margin-top:1em; height: 8vh;"></div> -->
    <div class="row" style="margin-top:1em; height: 8vh; background-color:lightgray">
        
        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                margin-top: 1vh;
                width: 15vw
                }
            .setchks-btn:hover {
                background-color:#ffeb3b; 
                border-style: solid; 
                border-color:#005eb8; 
                border-width :3px;
                margin-top: 1vh;
                width: 15vw
                }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                margin-top: 1vh;
                width: 15vw
                }
        </style>
        <div class="col-8"> 
            <!-- <a href="/reset_setchks_session"  class="btn setchks-btn">Hard reset</a> -->
            <a href="/data_upload"  class="btn setchks-btn">Return to Load Page</a>
        </div>
        <div class="col-4">
            <!-- <button type="button" class="btn setchks-btn">Reset and upload new file</button> -->
            <!-- <button type="button" class="btn setchks-btn-inactive">Reload With Current Settings</button> -->
            {% if setchks_session.columns_info.identification_sufficient ==True %}
                <a href="/enter_metadata"  class="btn setchks-btn float-end"><i class="bi bi-arrow-right"></i> Next (Settings)</a>
            {% else %}
                <a href="#"  class="btn setchks-btn-inactive float-end"><i class="bi bi-arrow-right"></i> Next (Settings)</a>
            {% endif %}
            <a href="/data_upload"  class="btn setchks-btn float-end"><i class="bi bi-arrow-left"></i> Prev (Load)</a>

            
           
            
        </div>
    
    </div>
</div>

{% endblock %}