{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    
<div class="container-fluid  mt-5 ">
    <div class="row">
        
        
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-2 ">
            
            <div class="card">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Please identify the column containing SNOMED CT IDs </li>
                        <li> You can optionally identify one column as SNOMED CT Terms</li>
                        <li> Rows with grey background fail "correct format ID in MIXED column" test </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="margin-top:1em;">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Overall analysis: (TBI)</li>  
                        {% if setchks_session.columns_info.identification_sufficient ==True %}
                        
                        {% else %}
                        <li> <b>You need to identify at least one column as an ID column</b> </li>
                        {% endif %}              
                    </ul>
                </div>
            </div>
        
        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-10 ">
            
            
            <!-- THE TABLE -->
            
            <div class="card" style="height: 60vh" >
                <!-- <div class="card-header">
                    <strong>Table</strong>
                </div>                 -->
                <div class="panel" style="overflow:auto">
                <table class="table table-bordered" >

                    <thead>
                        
                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col">1</th>
                                {%for cell in file_data[0] %}
                                <th scope="col">{{ cell.string }}</th>
                                {% endfor %}
                            </tr>

                            <tr>
                                <th scope="col">Column type</th>
                                {%for cell in file_data[0] %}
                                <th scope="col">
                                    <div>
                                        {% set icol=loop.index-1 %}
                                        {% set column_form_name = "type_selector_form_for_col_" + icol|string %}
                                        <form action="/column_identities" class="{{ column_form_name }}" method="post" enctype="multipart/form-data">
                                            {% set column_selector_name = "type_selector_for_col_" + icol|string %}
                                            <select name="{{ column_selector_name }}" class="form-select" 
                                                onchange="$('.{{ column_form_name }}').submit();" 
                                                style="margin-top: 0.5em;"
                                                >
                                                {% for available_type in ["MIXED","DTERM","OTHER"] %} 
                                                    {% if available_type == setchks_session.columns_info.column_types[icol] %}
                                                    <option selected
                                                    {% else %}
                                                    <option
                                                    {% endif %} 
                                                    value={{ available_type }}> {{ available_type }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>  
                                    
                                </th>
                                {% endfor %}
                            </tr>

                            <tr>
                                <th scope="col"></th>
                                {%for cell in file_data[0] %}
                                <th scope="col" style="font-style:italic;"> Column analysis here (TBI)</th>
                                {% endfor %}
                            </tr>

                        <style>
                            .letterCircle {
                                border-radius: 50%;
                                width: 36px;
                                height: 36px;
                                padding: 8px;
                            
                                background: #fff;
                                border: 2px solid #666;
                                color: #666;
                                text-align: center;
                            
                                font: 32px Arial, sans-serif;
                            }
                        </style>
                    </thead>
                    
                        {% for row in file_data[1:] %}
                            {% if rows_processable[loop.index-1] %}
                            <tr>
                            {% else %}
                            <tr style="background-color: lightgray;">
                            {% endif %}
                                    <th scope="row">{{ loop.index+1 }}</th>
                            {%for cell in row %}
                                <td>{{ cell.string }}
                                {% set column_type=setchks_session.columns_info.column_types[loop.index-1] %}
                                {% if cell.component_type=="Concept_Id" and column_type in ["DID","DTERM","OTHER"] %} <b>(C!)</b> {% endif %}
                                {% if cell.component_type=="Concept_Id" and column_type in ["CID","MIXED"] %} (C) {% endif %}
                                {% if cell.component_type=="Description_Id" and column_type in ["CID","DTERM","OTHER"] %} <b>(D!)</b> {% endif %}
                                {% if cell.component_type=="Description_Id" and column_type in ["DID","MIXED"] %} (D) {% endif %}
                                {% if cell.component_type not in ["Description_Id","Concept_Id"] and column_type in ["CID","DID","MIXED"] %} <b>(!)</b> {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        <tbody>
                  </table>
                </div>
            </div>
        </div>
    <div class="row" style="margin-top:1em">
        
        <div class="col-5"> 
        </div>
        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                }
            .setchks-btn:hover {background-color:#ffeb3b; border-style: solid; border-color:#005eb8; border-width :3px;  }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                }
        </style>
        <div class="col-7">
            <a href="/reset_setchks_session"  class="btn setchks-btn"> Reset and upload new file</a>
            <!-- <button type="button" class="btn setchks-btn">Reset and upload new file</button> -->
            <!-- <button type="button" class="btn setchks-btn-inactive">Reload With Current Settings</button> -->
            <a href="/confirm_upload"  class="btn setchks-btn"><i class="bi bi-arrow-left"></i> (Confirm upload)</a>
            {% if setchks_session.columns_info.identification_sufficient ==True %}
                <a href="/enter_metadata"  class="btn setchks-btn"><i class="bi bi-arrow-right"></i> (Enter Metadata)</a>
            {% else %}
                <a href="#"  class="btn setchks-btn-inactive"><i class="bi bi-arrow-right"></i> (Enter Metadata)</a>
            {% endif %}
            
            
            
        </div>
    
    </div>
</div>

{% endblock %}