{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    

<div class="container-fluid mt-0 " >
    
    <div class="row" style="height: 76vh; overflow:auto">    

        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-8" style="padding-left: 1vh; padding-right: .5vh; ">
            
            <div class="card" style="margin-top:1vh; overflow:auto">
                <div class="card-body" style="font-size: 1em; overflow:auto">
                    <ul>
                        <p>
                        Welcome to the first prototype of the NHS Value Set Management Tool (VSMT). 
                        We aim to grow the VSMT into a full suite of tools that provide a one-stop-shop for 
                        all SNOMED CT value sets, including finding existing sets, 
                        creating and maintaining sets, sharing new sets with others, 
                        and finding like-minded people to collaborate with. 
                        </p>
                        <p>
                        In this first prototype we are introducing “Set Checks” - 13 separate checks 
                        that run on user supplied value sets to assess and feedback on 
                        set content. The checks indicate possible errors, content that might be missing, 
                        and how a set from an earlier UK SNOMED CT release 
                        should be changed due to new or changed content in a more 
                        recent UK SNOMED CT release.
                        </p>
                        <p>
                        You can find a user guide for the tool here and we would love to hear 
                        your feedback via this form.
                        </p>
                        <p>
                        Thanks for trying out the VSMT!
                        
                        
                        <a href="https://nhs.sharepoint.com/:w:/r/sites/msteams_0ce65d/Shared%20Documents/General/Developer%20related/Release%20notes/updates.docx?d=w62b781d94b9641debc2702f03b329d4d&csf=1&web=1&e=Bs22kZ" target="_blank"> 
                            Information about recent changes </a> </li>
                        </p>
                    </ul>
                </div>
            </div>

            <div class="card" style="margin-top:1vh; overflow:auto">
                <div class="card-body" style="font-size: 1em; overflow:auto">
                    <ul>
                       
                        <li> You will be able to check the upload on the next screen. </li>
                        <li> See this guidance (TBI) for advice on the data required in your file </li>
                        <li> Some examples input files are in <a href="https://nhs.sharepoint.com/:f:/r/sites/msteams_0ce65d/Shared%20Documents/General/Design/example_value_sets_for_trial_app?csf=1&web=1&e=4MeVfX" target="_blank"> this sharepoint folder </a></li>
                        <li>  <a href="https://nhs.sharepoint.com/:w:/r/sites/msteams_0ce65d/Shared%20Documents/General/Developer%20related/Release%20notes/updates.docx?d=w62b781d94b9641debc2702f03b329d4d&csf=1&web=1&e=Bs22kZ" target="_blank"> Information about recent changes </a> </li>
                        <li> (If link above fails navigate to Teams: Value Set Tooling - General\Developer related\Release notes\updates.docx)</li>
                        <li> <b> If you have any problems, or just want to ask a question or get guidance, please contact Jeremy or Alan 1:1 via Teams chat.</b> If the issue cannot be resolved immediately 
                              we will ask you to make a bug report - we will explain how - it is very easy and we will only need a very basic amount of info. </li>
                        <li>  <a href="https://nhsd-jira.digital.nhs.uk/issues/?filter=55351" target="_blank"> Bug reports on Jira </a> </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-4" style="padding-left: .5vh; padding-right: .5vh;">

            <div class="card border-0" style="height: 60vh;  background-color: #f0f4f5;">

                <div>
                               <!-- THE UPLOAD METHODS -->
                    <!-- SELECT A FILE -->
                    <style>
                    input[type="file"] {
                        display: none;
                    }
                    .custom-file-upload {
                       
                        display: inline-block;
                        cursor: pointer;
                        /* width: 30vw;  */
                        width: 400px; 
                        height: 130px;
                        margin: 5 auto; 
                        border-style: solid;
                        border-width: 3px;
                        border-color: #005eb8;
                        background-color: white; 
                        border-radius: 20px; 
                        font-size: 2em; 
                        line-height: 2em; 
                        padding: 1vh 1vh; 
                        /* padding: 20px 20px;  */
                        text-align: center; 
                        /* color: */
                    }
                    .custom-file-upload:hover { background-color: #ffeb3b;} 
                    .custom-file-upload:active { background-color: #ffeb3b; }

                    </style>


                    <style>
                        .upload-methods > div {
                            display: block;
                            vertical-align: top;
                            margin-right: 1em;
                            padding-bottom: 1em ;
                            }
                    </style>
                    
                    <div  class="upload-methods">   
                        <!-- <div  style="display: inline-block; vertical-align: top; margin-right: 1em;">    -->
                        {% if setchks_session.data_as_matrix == [] %}
                        <div>       
                            
                            <div style="height:1vh;"></div>
                            
                            <form action="/column_identities" class="data-browse-form" method="post" enctype="multipart/form-data">
                                <label for="data-browse-input" class="custom-file-upload">
                                    <i class="bi bi-cloud-upload-fill"></i> 
                                    Browse for a file 
                                    
                                </label>
                                <input id="data-browse-input" 
                                    type="file" 
                                    name="uploaded_file"
                                    accept=".txt,.tsv,.xlsx" 
                                    onchange="$('.data-browse-form').submit();" 
                                    />
                            </form>
                        </div>
                        {% else %}
                        <div>       
                            
                            <div style="height:1vh;"></div>
                            
                            <form action="/column_identities" class="data-browse-form" method="post" enctype="multipart/form-data">
                                <label for="data-browse-input" class="custom-file-upload">
                                    <i class="bi bi-cloud-upload-fill"></i> 
                                    Browse for a file 
                                    <div style="font-size: .6em; line-height: 1.3em;"> 
                                        (retaining previously entered settings)
                                    </div>
                                </label>
                                <input id="data-browse-input" 
                                    type="file" 
                                    name="uploaded_file"
                                    accept=".txt,.tsv,.xlsx" 
                                    onchange="$('.data-browse-form').submit();" 
                                    />
                            </form>

                            <div style="height:1vh;"></div>

                            <form action="/column_identities" class="data-browse-form-default-settings" method="post" enctype="multipart/form-data">
                                <label for="data-browse-input-default-settings" class="custom-file-upload">
                                    <i class="bi bi-cloud-upload-fill"></i> 
                                    Browse for a file 
                                    <div style="font-size: .6em; line-height: 0.8em;"> 
                                        (reverting to default settings)
                                    </div>
                                </label>
                                <input id="data-browse-input-default-settings" 
                                    type="file" 
                                    name="uploaded_file_default_settings"
                                    accept=".txt,.tsv,.xlsx" 
                                    onchange="$('.data-browse-form-default-settings').submit();" 
                                    />
                            </form>
                        </div>
                        {% endif %}

                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 8vh; background-color:lightgray">
        
        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                margin-top: 1vh;
                width: 15vw
                }
            .setchks-btn:hover {
                background-color:#ffeb3b; 
                border-style: solid; 
                border-color:#005eb8; 
                border-width :3px;
                margin-top: 1vh;
                width: 15vw
                }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                margin-top: 1vh;
                width: 15vw
                }
        </style>
        
            <div class="col-10"> 
                <!-- <a href="/reset_setchks_session"  class="btn setchks-btn">Hard reset</a> -->
            </div>
            <div class="col-2 " >
                {% if setchks_session.data_as_matrix != [] %}
                <a href="/column_identities"  class="btn setchks-btn float-end" style="margin-top: 1vh" ;><i class="bi bi-arrow-right"></i>(View)</a>
                {% endif %}
            </div>
    
    </div>
</div>


  
{% endblock %}
