{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}

{% set nav_prev_page_shown=False %}
{% set nav_prev_page_live=True %}
{% set nav_prev_page_location="" %}

{% set nav_next_page_shown=setchks_session.data_as_matrix != [] %}
{% set nav_next_page_live=True %}
{% set nav_next_page_location="/column_identities" %}

{% include 'navigation.html' %}
    

<div class="container-fluid mt-0 " >
    
    <div class="row" style="height: 78vh; overflow:auto">    


        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-9" style="padding-left: 1vh; padding-right: .5vh; ">
            
            <div class="card" style=" margin-top:1vh; overflow:auto">
                <div class="card-header" style="color: red; background-color: lightgrey; font-weight: bold;">
                    Welcome
                </div>
                <div class="card-body" style="padding: 1vh; font-size: 1.0em; overflow:auto">
                        <p>
                        Welcome to a first Proof of Concept (PoC) of the NHS Value Set Management Tool (VSMT). 
                        We aim to grow the VSMT into a full suite of tools that provide a one-stop-shop for 
                        all SNOMED CT value sets, including finding existing sets, 
                        creating and maintaining sets, sharing new sets with others, 
                        and finding like-minded people to collaborate with. 
                        </p>
                        <p>
                        In this first PoC we are introducing “Set Checks” - 13 separate checks 
                        that run on user supplied SNOMED CT value sets to assess and provide feedback on 
                        set content. 
                        Different Set Checks run depending on whether the value set is being used for 
                        data entry or data extraction purposes, and whether the user wishes to check 
                        the value set against a single SNOMED CT release or between two SNOMED CT releases.  

                        The focus of these checks is for value sets that are used for data entry to, 
                        or data extraction from, electronic patient records.  
                        The checks indicate possible errors, content that might be missing, 
                        and how a set from an earlier UK SNOMED CT release 
                        should be changed due to new or changed content in a more 
                        recent UK SNOMED CT release.
                        </p>
                        <p>
                        We would love to hear your feedback, 
                        for which there is a link on each page.
                        
                        Thanks for trying out the VSMT!
                        
                        <br>
                        <br><b>
                        Technology and Information Standards (TIS)
                        <br>NHS England
                        </b></p>
                </div>
            </div>

            <div class="card" style="margin-top:1vh; overflow:auto">
                <div class="card-header" style="background-color: lightgrey; font-weight: bold;">
                    Using the Set Checks Application 
                </div>
                <div class="card-body" style="padding: 1vh; font-size: 1.0em; overflow:auto">
                    <p style="color:red; font-weight: bold;">
                        This tool is still under development. All outputs should be reviewed and approved by relevantly qualified clinical professionals before changes are made to any value set being used to record or assess care data.
                    </p>
                    
                    <ul> 
                    <li>The input file must be in xlsx or tab-separated format with any number of columns, with a single header row, and a maximum of 5000 rows.</li>
                    <li>One column must contain SNOMED Identifiers; another column can optionally contain Terms; all other columns are disregarded by the set checks.</li>
                    <li>The selection of the Identifier and Term columns is made in the app after upload.</li>
                    <li>To upload your value set file, and start using the tool, click the big green "Browse for a file" button.</li>
                    <li>Click for  
                        <a href="https://nhsengland.kahootz.com/t_c_home/view?objectID=51269456" target="_blank">supporting materials including a user guide, 
                        and detailed reference information on the setchecks</a> 
                        </li>    
                    </ul>
                   

                    <p>
                    By using this tool, you are accepting of the T&Cs. You can re-read the T&Cs at any time using the link
                    provided on each page of the application. 
                    </p>   
                    
                   
                    <!-- <span><a href="release_notes/known_issues.html">Known issues</a></span> -->
                </div>
            </div>

        </div>
        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-3" style="padding-left: 0.5vh; padding-right: 1.0vh;">

            <div>
              
                <style>
                input[type="file"] {
                    display: none;
                }
                .custom-file-upload {
                   
                    display: inline-block;
                    cursor: pointer;
                    /* width: 30vw;  */
                    width: 100%; 
                    height: 14vh;
                    /* margin: 5 auto;  */
                    border-style: solid;
                    border-width: 3px;
                    border-color: #005eb8;
                    background-color:#007f3b;
                    /* background-color: white;  */
                    border-radius: 20px; 
                    font-size: 2em; 
                    line-height: 2em; 
                    padding: 1vh 1vh; 
                    /* padding: 20px 20px;  */
                    text-align: center; 
                    color: white;
                    margin-top:1vh;
                }
                .custom-file-upload:hover { background-color: darkgreen;} 
                .custom-file-upload:active { background-color: darkgreen; }

                </style>


                <style>
                    .upload-methods > div {
                        display: block;
                        vertical-align: top;
                        margin-right: 1em;
                        padding-bottom: 1em ;
                        }
                </style>
                
                <div  class="upload-methods">   
                    <!-- <div style="height:0vh;"></div> -->
                    <form 
                        action="/column_identities" 
                        class="data-browse-form" 
                        method="post" 
                        enctype="multipart/form-data"
                        >
                        <label for="data-browse-input" class="custom-file-upload">
                            <i class="bi bi-cloud-upload-fill"></i> 
                            Browse for a file 
                        </label>
                        <input id="data-browse-input" 
                            type="file" 
                            name="uploaded_file"
                            accept=".txt,.tsv,.xlsx" 
                            onchange="$('.data-browse-form').submit();" 
                            />
                    </form>

                    <!-- <div style="height:1vh;"></div> -->

                </div> 
 
            {% if setchks_session.data_as_matrix != [] %}
                <div class="card" style=" margin-top:1vh; overflow:auto">
                    <div class="card-header" style="background-color: lightgrey; font-weight: bold;">
                        Options when Loading a New File
                    </div>
                    <div class="card-body" style="padding: 1vh; font-size: 1em;">
    
                        <form action="/data_upload" class="load_file_behaviour_buttons" method="post" enctype="multipart/form-data">
                            {% for a_type in [
                                ("DEFAULT_SETTINGS","<b>Revert</b> to default settings 
                                    <br><span style='font-size: 1em'>(typical when starting work on a different value set)</span>"),
                                ("RETAIN_SETTINGS","<b>Retain</b> metadata and settings
                                    <br><span style='font-size: 1em'>(e.g. to run the same checks, use the same SNOMED CT release, and keep the same name, etc
                                    when loading a revised version 
                                    of a value set)</span>"),
                                ] %}
                                {% if a_type[0] == setchks_session.load_file_behaviour %}
                                    {% set checked_var="checked" %}
                                {% else %}
                                    {% set checked_var="" %}
                                {% endif %}
            
                                <div class="form-check">
                                    <input  class="form-check-input" 
                                            type="radio" 
                                            name="load_file_behaviour" 
                                            {{ checked_var}} 
                                            value="{{ a_type[0] }}" 
                                            id={{ a_type[0] }} 
                                            onchange="$('.load_file_behaviour_buttons').submit();"
                                            >
                                    <label class="form-check-label" for={{ a_type[0] }}>
                                    {{ a_type[1]|safe}}
                                    </label>
                                </div>
                            {% endfor %}
                            
                        </form>
                        <p>The settings can be further adjusted on the Settings page after loading</p>
            
    
    
                    </div>
                </div>
            {% endif %}
                <!-- <div class="card" style=" margin-top:1vh; overflow:auto">
                    <div class="card-header" style="background-color: lightgrey; font-weight: bold;">
                       
                    Important Reminder
                    </div>
                    <div class="card-body" style="padding: 1vh; font-size: 1em;">
                        
                        <p style="color:red; font-weight: bold;">
                            This tool is still under development. All outputs should be reviewed and approved by relevantly qualified clinical professionals before changes are made to any value set being used to record or assess care data.
                        </p>
                </div> -->
            </div>
        </div>

    </div>

</div>


  
{% endblock %}
