{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}

{% set nav_prev_page_shown=True %}
{% set nav_prev_page_live=True %}
{% set nav_prev_page_location="/column_identities" %}

{% set nav_next_page_shown=True %}
{% set nav_next_page_live=True %}
{% set nav_next_page_location="/select_and_run_checks" %}

{% include 'navigation.html' %}
    

<div class="container-fluid  mt-0 ">
    
    <div class="row" style="height: 76vh;">

        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

            <div class="col-5" style="padding-left: 1vh; padding-right: 0.5vh;">
            
            <!-- <div class="card" style="height: 10vh; overflow:auto">
                <div class="card-body" style="font-size: 1em;">
                    On this screen please
                    <ul> 
                        <li> Select the SNOMED CT release that you wish to run the checks against</li>
                        <li> Enter descriptive metadata ...</li>
                    </ul>             
                </div>
            </div> -->

            <div class="card" style="height: 39vh; margin-top:1vh; overflow:auto">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <form action="/enter_metadata" method="post" enctype="multipart/form-data" id="name_and_purpose_form">
                            <div class="form-group" style="margin-top:1vh;">
                                <label for="vs_name">Name of value set (maximum 100 characters)</label>
                                <textarea 
                                    class="form-control" 
                                    name="vs_name" 
                                    id="vs_name" 
                                    onmouseleave="autosubmit(this, 100, 'Name of value set')"
                                    onkeypress="check_length_and_CR(this,event,100,true)"
                                    rows="1">{{setchks_session.vs_name}}</textarea>
                                 
                            </div>
                            <div class="form-group" style="margin-top:1vh;">
                                <label for="vs_purpose">Purpose of value set (maximum 500 characters)</label>
                                <textarea 
                                    class="form-control" 
                                    name="vs_purpose" 
                                    id="vs_purpose"
                                    onmouseleave="autosubmit(this, 500, 'Purpose of value set')"
                                    onkeypress="check_length_and_CR(this,event,500,false)"
                                    rows="3">{{setchks_session.vs_purpose}}</textarea>
                               
                            </div>
                            <!-- <div style="margin-top:1vh;">
                                <input type="submit" value="Save name and purpose">
                            </div> -->
                        </form>
                    </ul>
                </div>
            </div>
            <script> 

            $("#name_and_purpose_form").dirty({preventLeaving: true}); // this should rarely trigger but might if the respose from autosubmit is slow
            
            function check_length_and_CR(thing, e, max_length, CR_not_allowed) {
                if (thing.value.length>=max_length) {
                    event.preventDefault();
                    return false;
                }
                if (e.which == 13 && CR_not_allowed) {
                    event.preventDefault();
                    return false;
                }
            }
           
            function autosubmit(thing, max_length, name_to_show) {
                let dirtiness=$("#name_and_purpose_form").dirty("isDirty")
                if (dirtiness===true) {
                    if (thing.value.length>max_length){ // truncate if necessary before save
                                                        // this should only trigger if name or purpose pasted in
                        thing.value=thing.value.slice(0,max_length)
                        alert(`"${name_to_show}" is too long. It will be truncated to ${max_length} characters`)
                    }
                    $('#name_and_purpose_form').submit()
                }
            } 
            </script>
            
            <div class="card" style="height: 33vh; margin-top:1vh; overflow:auto">
                <div class="card-body" style="font-size: 1em;">
                    <span> Mode: </span>
                    <form action="/enter_metadata" class="sct_version_mode_buttons" method="post" enctype="multipart/form-data">
                        {% for a_type in [
                            ("SINGLE_SCT_VERSION","Set checks"),
                            ("DUAL_SCT_VERSIONS","Assess changes between two releases"),
                            ] %}
                            {% if a_type[0] == setchks_session.sct_version_mode %}
                                {% set checked_var="checked" %}
                            {% else %}
                                {% set checked_var="" %}
                            {% endif %}

                            <div class="form-check">
                                <input  class="form-check-input" s
                                        type="radio" 
                                        name="sct_version_mode" 
                                        {{ checked_var}} 
                                        value="{{ a_type[0] }}" 
                                        id={{ a_type[0] }} 
                                        onchange="$('.sct_version_mode_buttons').submit();"
                                        >
                                <label class="form-check-label" for={{ a_type[0] }}>
                                {{ a_type[1]}}
                                </label>
                            </div>
                        {% endfor %}
                        
                    </form>
                    <span> Context: </span>

                    <form action="/enter_metadata" class="data_entry_extract_type_buttons" method="post" enctype="multipart/form-data">
                        {% for a_type in [
                            ("ENTRY_PRIMARY","Data entry (Primary care)"),
                            ("ENTRY_OTHER","Data entry (Other setting)"),
                            ("EXTRACT","Data extraction"),
                            ] %}
                            {% if a_type[0] == setchks_session.data_entry_extract_type %}
                                {% set checked_var="checked" %}
                            {% else %}
                                {% set checked_var="" %}
                            {% endif %}

                            <div class="form-check">
                                <input  class="form-check-input" 
                                        type="radio" 
                                        name="data_entry_extract_type" 
                                        {{ checked_var}} 
                                        value="{{ a_type[0] }}" 
                                        id={{ a_type[0] }} 
                                        onchange="$('.data_entry_extract_type_buttons').submit();"
                                        >
                                <label class="form-check-label" for={{ a_type[0] }}>
                                {{ a_type[1]}}
                                </label>
                            </div>
                        {% endfor %}
                        
                    </form>
                    
                    <span> Verbosity of Excel output: </span>
                    <form action="/enter_metadata" class="output_full_or_compact_buttons" method="post" enctype="multipart/form-data">
                        {% for a_type in [
                            ("FULL_OUTPUT","More information output"),
                            ("COMPACT_OUTPUT","Less information output"),
                            ] %}
                            {% if a_type[0] == setchks_session.output_full_or_compact %}
                                {% set checked_var="checked" %}
                            {% else %}
                                {% set checked_var="" %}
                            {% endif %}

                            <div class="form-check">
                                <input  class="form-check-input" 
                                        type="radio" 
                                        name="output_full_or_compact" 
                                        {{ checked_var}} 
                                        value="{{ a_type[0] }}" 
                                        id={{ a_type[0] }} 
                                        onchange="$('.output_full_or_compact_buttons').submit();"
                                        >
                                <label class="form-check-label" for={{ a_type[0] }}>
                                {{ a_type[1]}}
                                </label>
                            </div>
                        {% endfor %}
                        
                    </form>
                </div>
            </div>

        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-7" style="padding-left: 0.5vh; padding-right: 1vh;">


            <!-- ##############################################################
            #    Start of block for first sct_version - "sct_version"    #
            ############################################################## -->

            <div class="card" style="height: 34vh; margin-top:1vh;">
                <div class="card-body overflow-auto" style="font-size: 1em;" >
                    <ul>
                        {% if setchks_session.sct_version_mode=="SINGLE_SCT_VERSION" %}
                            <li> Select the SNOMED CT release by clicking on the timeline or by using the dropdown </li>
                        {% else %}
                            <li> Select the earlier SNOMED CT release by clicking on the timeline or by using the dropdown </li>
                        {% endif %}
                        <br>
                        <!-- <div id="timeline_fig"  style="width:800px;height:200px;"></div>  div for the plotly figure -->
                        <div id="timeline_fig" ></div>  <!-- div for the plotly figure -->
                        <div> <p id="timeline_hover_info"> <br> </p></div>  <!-- div for the hover info -->
                        
                        <div style="margin-top:0">
                            <form action="/enter_metadata" class="sct_version_selection_form" method="post" enctype="multipart/form-data">
                                    <select name="select_sct_version" class="form-select" 
                                        onchange="$('.sct_version_selection_form').submit();" 
                                        style="margin-top: 0.5em;"
                                        >
                                        {% for available_sct_version in setchks_session.available_sct_versions %} 
                                            {% if available_sct_version == setchks_session.sct_version %}
                                            <option selected
                                            {% else %}
                                            <option
                                            {% endif %} 
            
                                            value="{{ loop.index }}"> {{ available_sct_version.name_for_dropdown }}
            
                                            {% if loop.index==1 %} (current) {% endif %}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </form>
                        </div>  
                    </ul>
                </div>
            </div>
      
            <script> // draw plotly figure
                var timeline_fig_div = document.getElementById('timeline_fig'); 
                var plotlyConfiguration = { displayModeBar: false };
                Plotly.newPlot( timeline_fig_div, {{ timeline_data_json | safe }}, {{ timeline_layout_json | safe }}, plotlyConfiguration );
            </script>

            <!-- create form with one hidden input to provide holder for value of pointNumber to be inserted -->
            <form id="timeline_form" action="/enter_metadata" method="post" enctype="multipart/form-data"> 
                <input id="timeline_input" name="pointNumber" type="hidden" > 
            </form>

            <script> // declare listener: when plotly is clicked on, insert pointNumber into hidden input and submit the form 
                timeline_fig_div.on('plotly_click', function(event_data){
                    var timeline_input=document.getElementById("timeline_input");
                    timeline_input.value=event_data.points[0].pointNumber;
                    var timeline_form=document.getElementById("timeline_form")
                    timeline_form.submit()
                    });
            </script>

            <script> // declare listener: when plotly is hovered on .. 
                var timeline_data_info= {{ timeline_info_json | safe }}
                timeline_fig_div.on('plotly_hover', function(event_data){
                    console.log("hover")
                    var timeline_hover_info=document.getElementById("timeline_hover_info");
                    timeline_hover_info.innerHTML=timeline_data_info[event_data.points[0].pointNumber];
                    });
            </script>

            <script> // declare listener: when plotly is un-hovered  .. 
                timeline_fig_div.on('plotly_unhover', function(event_data){
                    console.log("unhover")
                    var timeline_hover_info=document.getElementById("timeline_hover_info");
                    timeline_hover_info.innerHTML='<br>';
                    });
            </script>

            <!-- ############################################################
            #    End of block for first sct_version - "sct_version"    #
            ############################################################ -->

            {% if setchks_session.sct_version_mode=="DUAL_SCT_VERSIONS" %}

            <!-- ###################################################################
            #    Start of block for second sct_version - "sct_version_b"      #
            #   This is a like for like copy with _b tagged on as appropriate #
            ################################################################### -->
            
            <div class="card" style="height: 34vh; margin-top:1vh;">
                <div class="card-body overflow-auto" style="font-size: 1em;" >
                    <ul>
                        <li> Select the later SNOMED CT release by clicking on the timeline or by using the dropdown </li>
                        <br>
                        <!-- <div id="timeline_fig"  style="width:800px;height:200px;"></div>  div for the plotly figure -->
                        <div id="timeline_fig_b" ></div>  <!-- div for the plotly figure -->
                        <div> <p id="timeline_hover_info_b"> <br> </p> </p></div>  <!-- div for the hover info -->
                        
                        <form action="/enter_metadata" class="sct_version_selection_form_b" method="post" enctype="multipart/form-data">
                            <select name="select_sct_version_b" class="form-select" 
                                onchange="$('.sct_version_selection_form_b').submit();" 
                                style="margin-top: 0.5em;"
                                >
                                {% for available_sct_version in setchks_session.available_sct_versions %} 
                                    {% if available_sct_version == setchks_session.sct_version_b %}
                                    <option selected
                                    {% else %}
                                    <option
                                    {% endif %} 
    
                                    value="{{ loop.index }}"> {{ available_sct_version.name_for_dropdown }}
    
                                    {% if loop.index==1 %} (current) {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>

                    </ul>
                </div>
            </div>
      
            <script> // draw plotly figure
                var timeline_fig_div_b = document.getElementById('timeline_fig_b'); 
                var plotlyConfiguration = { displayModeBar: false };
                Plotly.newPlot( timeline_fig_div_b, {{ timeline_data_json_b | safe }}, {{ timeline_layout_json_b | safe }}, plotlyConfiguration );
            </script>

            <!-- create form with one hidden input to provide holder for value of pointNumber to be inserted -->
            <form id="timeline_form_b" action="/enter_metadata" method="post" enctype="multipart/form-data"> 
                <input id="timeline_input_b" name="pointNumber_b" type="hidden" > 
            </form>

            <script> // declare listener: when plotly is clicked on, insert pointNumber into hidden input and submit the form 
                timeline_fig_div_b.on('plotly_click', function(event_data_b){
                    var timeline_input=document.getElementById("timeline_input_b");
                    timeline_input.value=event_data_b.points[0].pointNumber;
                    var timeline_form=document.getElementById("timeline_form_b")
                    timeline_form.submit()
                    });
            </script>

            <script> // declare listener: when plotly is hovered on .. 
                var timeline_data_info_b= {{ timeline_info_json_b | safe }}
                timeline_fig_div_b.on('plotly_hover', function(event_data_b){
                    console.log("hover")
                    var timeline_hover_info_b=document.getElementById("timeline_hover_info_b");
                    timeline_hover_info_b.innerHTML=timeline_data_info_b[event_data_b.points[0].pointNumber];
                    });
            </script>

            <script> // declare listener: when plotly is un-hovered  .. 
                timeline_fig_div.on('plotly_unhover', function(event_data_b){
                    console.log("unhover")
                    var timeline_hover_info=document.getElementById("timeline_hover_info_b");
                    timeline_hover_info.innerHTML='<br>';
                    });
            </script>

            <!-- ############################################################
            #    End of Block for second sct_version - "sct_version_b" #
            ############################################################ -->

            {% endif %}

            <!-- <div class="card" style="height: 19vh; margin-top:1vh;">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Version detail info will be here (TBI) </li>
                    </ul>
                </div>
            </div> -->

        </div>
    </div>

    {#    
    <div class="row" style="height: 8vh; background-color:lightgray">

        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                margin-top: 1vh;
                width: 15vw
                }
            .setchks-btn:hover {
                background-color:#ffeb3b; 
                border-style: solid; 
                border-color:#005eb8; 
                border-width :3px;
                margin-top: 1vh;
                width: 15vw
                }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                margin-top: 1vh;
                width: 15vw
                }
        </style>
         <div class="col-8"> 
            <!-- <a href="/reset_setchks_session"  class="btn setchks-btn">Hard reset</a> -->
            <a href="/data_upload"  class="btn setchks-btn">Return to Load Page</a>
        </div>
        <div class="col-4">
            {% if setchks_session.sct_version == None %}
                <a href="/select_and_run_checks"  class="btn setchks-btn-inactive float-end"><i class="bi bi-arrow-right"></i> Next (Checks)</a>
            {% else %}
                <a href="/select_and_run_checks"  class="btn setchks-btn float-end"><i class="bi bi-arrow-right"></i> Next (Checks)</a>
            {% endif %}
            <a href="/column_identities"  class="btn setchks-btn float-end"><i class="bi bi-arrow-left"></i> Prev (View)</a>
        </div>
    
    </div>
    #}
</div>

  
{% endblock %}
