{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    

<div class="container-fluid  mt-0 " >
    
    <div class="row" style="margin-top: 1vh">    

        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-9 ">
            
            <div class="card" style=" overflow:auto; padding: 1vh; ">

                <div>
<!-- <style>
    h1 {font-size: 1.4em; font-weight: bold;}
    h2 {font-size: 1.0em; font-weight: bold; font-style: italic ;}
    p {font-size: 0.8em}
</style> -->
<h1>Feedback</h1>
<p>
We very much welcome your feedback, such as
</p>
<ul>
    <li>Requests for assistance</li>
    <li>Suggestions for improvements and new features</li>
    <li>Bug reports</li>
    <li>General comments</li>
</ul>
<p>If your computer is set up to handle mailto links correctly then this 
    <a href='mailto:england.vsmtpoc@nhs.net?subject=(VSMT%20PoC) <your customised subject line here>&body=Please leave "(VSMT PoC)" in the subject line (along with your own specific subject line content).%0APlease include screenshots and example files, particularly where requesting assistance or reporting bugs.'>Feedback Link</a>
    will fire up an appropriate draft email in your favourite email program.</p>
</p>
Alternatively use this email address: <b>england.vsmtpoc@nhs.net</b>
</p>
</p>
Please try to include (VSMT PoC) in the subject line (along with your own specific subject line content).
</p>
</p>
Please include screenshots and example files, particularly where requesting assistance or reporting bugs.
</p>



                </div> 
            </div>
        </div>
        <p>Use the back button in your browser to return to the application</p> 

       
    
    </div>
</div>

  
{% endblock %}
