{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    

<div class="container-fluid  mt-0 " >
    
    <div class="row" style="height: 80vh; margin-top: 1vh">    

        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-9 ">
            
            <div class="card" style=" overflow:auto; padding: 1vh; ">

                <div>
<!-- <style>
    h1 {font-size: 1.4em; font-weight: bold;}
    h2 {font-size: 1.0em; font-weight: bold; font-style: italic ;}
    p {font-size: 0.8em}
</style> -->
<h1>Feedback</h1>
<p>
We very much welcome your feedback, such as
</p>
<ul>
    <li>Requests for assistance</li>
    <li>Suggestions for new features</li>
    <li>Bug reports</li>
    <li>General comments</li>
</ul>
</p>
Please send an email to <b>england.vsmtpoc@nhs.net</b>
</p>
</p>
Please try to include (VSMT PoC) in the subject line (along with your own specific subject line content)
</p>
</p>
Please include screenshots and example files as appropriate as they really help to diagnose issues
</p>
<p>If your computer is set up to handle mailto links correctly then this 
    <a href="mailto:england.vsmtpoc@nhs.net?subject=(VSMT%20PoC) <your customised subject line here>&body=Use this email address for making feature suggestions, reporting bugs or asking for assistance.%0APlease leave (VSMT PoC) in the subject line.%0AScreenshots and example files are helpful for diagnosing issues.">Feedback Link</a>
    will fire up an appropriate draft email in your favourite email program.</p>
<p>Please use the browser back button to return to the app</p>

                </div> 
            </div>
        </div>

       
    
    </div>
</div>

  
{% endblock %}
