{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    
<style>

.run_status_blinking {
animation: animate 1.5s linear infinite; 
}  

.run_status_static {
animation: none; 
}  

@keyframes animate{ 
  0%{ 
    opacity: 0; 
  } 
  50%{ 
    opacity: 0.7; 
  } 
  100%{ 
    opacity: 0; 
  } 
} 
</style> 


<div class="container-fluid  mt-5 ">
    
    <div class="row">    

        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-6 ">
            
            <div class="card" style="height: 60vh">
                <div class="panel" style="overflow:auto; font-size: 1em;">
                
                <!-- <div class="card-body" style="font-size: 1em;"> -->
                    The following checks will be run (selectability and nicer set-check titles etc TBI):

                    <table class="table-sm table-bordered">
                        <thead>
                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col">Set Check</th>
                                <th scope="col">Run Status</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 1em;">
                            {% for setchk in setchks_session.selected_setchks %}
                                {% set sc=setchk.setchk_code %}
                                {% set setchk_run_status = setchks_session.setchks_run_status[sc] %}
                                <tr style="margin-top: 0em;">
                                <td> {{ setchk.setchk_short_name_plus_short_code }}</td>
                                <td> 
                                    <!-- {{ setchk_run_status }}  -->
                                    {% if setchk_run_status=="started" %}
                                        <span class="run_status_blinking"> 
                                        <b>Running..</b> 
                                        </span>
                                    {% else %}
                                        <span class="run_status_static"> 
                                        {% if setchk_run_status=="queued" %}
                                            In queue    
                                        {% elif setchk_run_status=="finished" %}
                                            <b>Completed</b>
                                        {% elif setchk_run_status=="failed" %}
                                            <i><a href="rq?action=failed_jobs">Job failed</a></i>
                                        {% endif %}
                                        </span>
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td> Create Excel Output</td>
                                <td>
                                {% set generate_run_status = setchks_session.setchks_run_status["GENERATE_EXCEL"] %}
                                {% if generate_run_status=="started" %}
                                    <span class="run_status_blinking"> 
                                    <b>Creating..</b> 
                                    </span>
                                {% else %}
                                    <span class="run_status_static"> 
                                    {% if generate_run_status=="queued" %}
                                        In queue 
                                    {% elif generate_run_status=="finished" %}
                                        <b>Ready</b>
                                    {% elif generate_run_status=="failed" %}
                                        <i>Job failed</i>
                                    {% endif %}
                                    </span>
                            {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>



                       
                </div>
            </div>

        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-6">


            <div class="card" style="height: 30vh; overflow:auto">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> A summary of meta data will be here (TBI) </li>
                    </ul>
                </div>
            </div>

            <style>
            .setchks-btn-green {
                background-color: #007f3b;
                color: white;
                border-style: solid;
                border-width: 3px;
                border-color: black;
                }

                .setchks-btn-green:hover {
                background-color: #005f1b;
                color: white;
                border-style: solid;
                border-width: 3px;
                border-color: black;
                }
            </style>
            
            <div class="card" style="height: 29vh; margin-top:1vh; overflow:auto">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        {% if setchks_session.setchks_jobs_manager.jobs_running %}
                            <a href="/select_and_run_checks" id="jobs_running_button" class="btn setchks-btn">Job(s) running - click to refresh run statuses</a>
                            <script>
                                setTimeout(function() { window.location=$('#jobs_running_button').attr("href"); }, 3000);
                            </script>
                            <br>Please do not navigate away from this page while jobs are running (safeguards TBI)
                        {% elif not setchks_session.all_CHKXX_finished %}
                            <a href="/select_and_run_checks?run_checks=True"  class="btn setchks-btn">Run checks</a>
                        {% endif %}
                        {% if (not setchks_session.setchks_jobs_manager.jobs_running) and 
                            results_available and (not setchks_session.excel_file_available) %}
                            <a href="/select_and_run_checks?generate_report=True" id="generate_excel_button" class="btn setchks-btn-green">Create Report</a>
                            <script>
                                setTimeout(function() { window.location=$('#generate_excel_button').attr("href"); }, 1000);
                            </script>
                            {% endif %}
                        {% if setchks_session.excel_file_available and not setchks_session.excel_file_generation_failed %}
                            <a href="/select_and_run_checks?download_report=True" id="download_report_button" class="btn setchks-btn-green">Download Excel Report</a>
                            <!-- <script>
                                setTimeout(function() { window.location=$('#download_report_button').attr("href"); }, 1000);
                            </script> -->
                            {% endif %}
                        {% if setchks_session.passes_gatekeeper==False %}
                        <br> <b> It has been detected that the value set contains entries in the MIXED column that are not found in the selected release.
                        <br> CHK02 and CHK20 will be run to provide information on the problematic entries. 
                        <br> No other checks will be run until these entries are corrected or removed from your file, and the file is reloaded.</b>
                        {% endif %}

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top:1em">
    
        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                }
            .setchks-btn:hover {background-color:#ffeb3b; border-style: solid; border-color:#005eb8; border-width :3px;  }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                }
            
            
        </style>
         <div class="col-9"> 
            <!-- <a href="/reset_setchks_session"  class="btn setchks-btn">Hard reset</a> -->
            <a href="/data_upload"  class="btn setchks-btn">Return to Load Page</a>
        </div>
        <div class="col-3">
            <a href="/enter_metadata"  class="btn setchks-btn"><i class="bi bi-arrow-left"></i> Prev (Settings)</a>
            <!-- <a href="/data_upload"  class="btn setchks-btn"><i class="bi bi-arrow-right"></i> Data upload</a> -->
        </div>
    
    </div>
</div>

  
{% endblock %}
