flask
requests
fhir.resources==7.0.2
pymongo==3.12.3 # this is for avoiding issue in https://stackoverflow.com/questions/72025723/how-to-configure-mongodb-for-flask-session
flask-session
redis
openpyxl
rq
plotly
boto3
jsonpickle