{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}VSMT_uprot_app{% endblock %}</h1> 
{% endblock %}

{% block content %}

<div>
    <p>
        {{set_message}}
    </p>
</div>
            <!-- THE TABLE -->
            
            <div class="card" style="height: 60vh" >
                <!-- <div class="card-header">
                    <strong>Table</strong>
                </div>                 -->
                <div class="panel" style="overflow:auto">
                <table class="table table-bordered">

                    <thead>
                        
                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col">Row</th>
                                <th scope="col">Set Check Message</th>

                                {%for cell in file_data[0] %}
                                <th scope="col">{{ cell }}</th>
                                {% endfor %}
                            </tr>

                    </thead>
                        {% for row in file_data[1:] %}
                            <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ row_messages[loop.index - 1] }}</td>
                            {%for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        <tbody>
                  </table>
                </div>
            </div>
        </div>

      
    </div>
</div>

  
{% endblock %}
