{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}VSMT_uprot_app{% endblock %}</h1> 
{% endblock %}

{% block content %}

<div class="container-fluid  mt-5 ">
    
    <div class="row">    
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-4 ">
            <div class="card" style="height: 30vh" >
                <div class="card-header">
                    <strong>Refset SCTID</strong>
                </div>                
                <div class="panel" style="overflow:auto">
                <form action="refset_members" method="post">
                    <div class="form-group">
                        <textarea class="form-control" id="refset_id_entry_area" name="refset_id" rows="5">{{ refset_id }}</textarea>
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
            </div>
            <div class="card" style="height: 60vh" >
                <div class="card-header">
                    <strong>Refset History</strong>
                </div>                
                <div class="panel" style="overflow:auto">
                {% for old_refset_id in refset_store %}
                    {{ old_refset_id }} <br>
                {% endfor %}
                </div>
            </div>
        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}
        <div class="col-8 ">
            <div class="card" style="height: 80vh" >
                <div class="card-header">
                    <strong>Refset members result</strong> 
                </div>  
                <div class="panel" style="overflow:auto">
                {% for output_line in refset_response %}
                    {{ output_line | safe }} <br>
                {% endfor %}    
                </div>
            </div>
        </div>        
    </div>
</div>

  
{% endblock %}