{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}VSMT_uprot_app{% endblock %}</h1> 
{% endblock %}

{% block content %}

<!-- define behaviour of check boxes so behave as radio buttons, with toggle behaviour, plus id column choice overrides a description choice
for same column and makes it impossible to choose that column as description until the id column choice cleared -->
<script> 
    $(document).ready(function(){
        $('.column_id_check').click(function() {
            $('.column_id_check').not(this).prop('checked', false);

            $('.column_description_check').prop('disabled', false); // this clears the disabling of (inter alia) the description column choice that was disabled LAST time
            let column_description_id_to_alter = "#column_description_check_".concat(this.id.substring(16))
           
            if (this.checked) {
                $(column_description_id_to_alter).prop('checked', false);
                $(column_description_id_to_alter).prop('disabled', true);
            } else {
                $(column_description_id_to_alter).prop('disabled', false);
            }

        });
    });

    $(document).ready(function(){
        $('.column_description_check').click(function() {
            $('.column_description_check').not(this).prop('checked', false);
        });
    });
</script>


<style>

    .cjc_file_upload {  
    /* display: block; */
        width: 60vw; 
        max-width: 400px; 
        margin: 5 auto; 
        border-style: solid;
        border-width: 5px;
        border-color: blue;
        /* background-color: slateblue;  */
        border-radius: 20px; 
        font-size: 2em; 
        line-height: 2.5em; 
        padding 2; 
        text-align: center; 
    }
    
    .cjc_file_upload:hover { background-color: cornflowerblue; }
    
    .cjc_file_upload:active { background-color: mediumaquamarine; }

    .cjc_file_input { /* suppress the generic "browse" etc stuff */ border: 0; clip: rect(1px, 1px, 1px, 1px); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
    
    </style>


<div class="container-fluid  mt-5 ">
    
    <div class="row">    
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-12 ">
            
            <!-- THE UPLOAD METHODS -->

            <div class="card" style="height: 15vh" >
                <!-- <div class="card-header">
                    <strong>Select file</strong>
                </div>                 -->
                
                <style>
                    .upload-methods > div {
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 1em;
                        }
                </style>

                <div class="upload-methods">
                    <!-- SELECT A FILE -->
                    <div class="panel panel-default">    
                        <form action="/trial_upload" class="formcjc2" method="post" enctype="multipart/form-data">
                            <label for="apply" class="cjc_file_upload">Browse for a file ..</label>
                            <input type="file" class="cjc_file_input" name="myfile" id="apply" onchange="$('.formcjc2').submit();" />
                            <!-- <input type="submit" value="Load" /> -->
                        </form> 
                    </div>
                    <!-- DRAG AND DROP A FILE -->
                    <div class="panel panel-default">    
                        <form action="/trial_upload" class="formcjc3" method="post" enctype="multipart/form-data">
                            <label for="apply" class="cjc_file_upload">Drop a file here ..</label>
                            <input type="file" class="cjc_file_input" name="myfile" id="apply" onchange="$('.formcjc3').submit();" />
                            <!-- <input type="submit" value="Load" /> -->
                        </form>
                    </div>
                    <!-- PASTE A TABLE -->
                    <div class="panel panel-default">    
                        <form action="/trial_upload" class="formcjc3" method="post" enctype="multipart/form-data">
                            <label for="apply" class="cjc_file_upload">Paste a table here ..</label>
                            <input type="file" class="cjc_file_input" name="myfile" id="apply" onchange="$('.formcjc3').submit();" />
                            <!-- <input type="submit" value="Load" /> -->
                        </form>
                    
                </div>
            </div>
            
            <!-- THE TABLE -->
            
            <div class="card" style="height: 60vh" >
                <!-- <div class="card-header">
                    <strong>Table</strong>
                </div>                 -->
                <div class="panel" style="overflow:auto">
                <table class="table table-bordered">

                    <thead>
                        
                        <!-- add the row of radio buttons to select the Concept ID column -->
                        <tr>
                        <th scope="row"></th>
                        {%for cell in file_data[0] %}
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" 
                                           class="column_id_check" 
                                           id={{ "column_id_check_" + loop.index|string }} 
                                           name={{ "chk" + loop.index|string }} /> 
                                           Select as concept id
                                  </div>
                            </td>
                        {% endfor %}
                        </tr>

                        <!-- add the row of radio buttons to select the Description column -->
                        <tr>
                            <th scope="row"></th>
                            {%for cell in file_data[0] %}
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" 
                                               class="column_description_check" 
                                               id = {{ "column_description_check_" + loop.index|string }}  
                                               name={{ "chk" + loop.index|string }} /> 
                                               Select as description
                                    </div>
                                </td>
                            {% endfor %}
                            </tr>

                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col">Row</th>
                                {%for cell in file_data[0] %}
                                <th scope="col">{{ cell }}</th>
                                {% endfor %}
                            </tr>

                    </thead>
                        {% for row in file_data[1:] %}
                            <tr>
                            <th scope="row">{{ loop.index }}</th>
                            {%for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        <tbody>
                  </table>
                </div>
            </div>
        </div>

      
    </div>
</div>

  
{% endblock %}
