{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}

{% set nav_prev_page_shown=True %}
{% set nav_prev_page_live=True %}
{% set nav_prev_page_location="/data_upload" %}

{% set nav_next_page_shown=True %}
{% set nav_next_page_live=setchks_session.columns_info.identification_sufficient ==True %}
{% set nav_next_page_location="/enter_metadata" %}

{% include 'navigation.html' %}

{% if too_many_rows==True %}
<script>
    alert("The current limit for input files in this web tool is 3000 rows. Your file exceeds this. We are working to increase this size limit. In the meantime please contact us if you would like to analyse such large files as we can run them for you. Please load another file")
    window.location.href = "/data_upload";
</script>
{% endif %}
{% if multisheet_flag==True %}
    <script>
        alert("There is more than one worksheet in this file - only the first sheet will be read. \nIf your value set is not in the first sheet then you will need to adjust the file to put the value set as the first sheet and then reload.")
    </script>
{% endif %}

<div class="container-fluid  mt-0 ">
    <div class="row" style="height: 76vh;">
        
        
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-3" style="padding-left: 1vh; padding-right: 0.5vh;">
          
            {#
            <div class="card" style="height: 14vh; margin-top:1vh; overflow:auto">
            <!-- <div class="card"> -->
                <div class="card-body">
                    <ul>
                        <li> Please  choose an Identifier column 
                            using the dropdown at the top of the column
                        </li>
                        <li> Optionally you can also identify a Term column </li>
                    </ul>
                </div>
            </div>
            #}

            {% if setchks_session.columns_info.identification_sufficient==True %}
                {% if setchks_session.column_content_assessment.fraction_valid_sctid_rows and (setchks_session.column_content_assessment.fraction_valid_sctid_rows > 0.3) %}
                <div class="card" style="height:fit-content; margin-top:1vh; overflow:auto">
                    <div class="card-header" style="padding: 0 1vh; background-color:lightgrey">
                    <i class="bi bi-hand-thumbs-up" style="-webkit-text-stroke: 1px; font-size:150%"></i>
                    </div>
                    <div class="card-body" style="">
                        <p> 
                        The chosen Identifier column contains a good proportion of 
                        Identifiers conforming to the SCTID data type  
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="card" style="height:fit-content; margin-top:1vh; overflow:auto">
                    <div class="card-header" style="padding: 0 1vh; background-color:darkorange">
                    <i class="bi bi-exclamation-triangle" style="-webkit-text-stroke: 1px; font-size:150%"></i>
                    </div>
                    <div class="card-body" style="">
                        <p> 
                        The chosen 
                        Identifier column does not appear to contain a high proportion of 
                        Identifiers conforming to the SCTID data type. 
                        </p>
                        <p>
                        The wrong column might have been chosen. 
                        </p>
                    </div>
                </div>
                {% endif %}
            {% else %}  
                <div class="card" style="height:fit-content; margin-top:1vh; overflow:auto">
                    <div class="card-header" style="padding: 0 1vh; background-color:red">
                    <b><i class="bi bi-x-lg" style="-webkit-text-stroke: 1px; font-size:150%"></i></b>
                    </div>
                    <div class="card-body" style="">
                        Please choose an Identifier column before proceeding to the next page
                    </div>
                </div>
            {% endif %}  

            {% if setchks_session.columns_info.ncols>1 %}
                {% if setchks_session.columns_info.have_dterm_column %}
                    <div class="card" style="height:fit-content; margin-top:1vh; overflow:auto">
                        <div class="card-header" style="padding: 0 1vh; background-color:lightgrey">
                        <i class="bi bi-hand-thumbs-up" style="-webkit-text-stroke: 1px; font-size:150%"></i>
                        </div>
                        <div class="card-body" style="">
                            <p> 
                            You have chosen a Term column.  
                            </p>
                            <p>
                            We have not checked at this stage if these appear to be valid SNOMED Terms.
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="card" style="height:fit-content; margin-top:1vh; overflow:auto">
                        <div class="card-header" style="padding: 0 1vh; background-color:darkorange">
                            <i class="bi bi-question-circle" style="-webkit-text-stroke: 1px; font-size:150%"></i>
                        </div>
                        <div class="card-body" style="">
                            <p>
                            If you want the checks to assess Terms
                            then you need to choose a Term column. 
                            </p>
                            <p>
                            If you only want the checks
                            to assess the Identifiers that you have provided then you can proceed 
                            without choosing a Term column.
                            </p>
                        </div>
                    </div>
                {% endif %}  
            {% endif %}  
        
        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-9" style="padding-left: .5vh; padding-right: .5vh;">
            
            
            <!-- THE TABLE -->
            
            <div class="card"  style="height:79vh; margin-top:1vh; overflow:auto">
                <!-- <div class="card-header">
                    <strong>Table</strong>
                </div>                 -->
                <div class="card-header"  style="background-color:lightgrey; font-weight: bold;">
                    Imported Data
                    </div>
                <div class="panel" >

                <table class="table table-bordered" >

                    <thead>
                        


                            {% set pulldown_text = ({"MIXED":"Identifier","DTERM":"Term","OTHER":"Other"})	%}
                            
                            <tr>
                                <th style="text-align:right; vertical-align: middle;"   scope="col">Column type:</i></th>
                                {%for cell in file_data[0] %}
                                <th scope="col">
                                    <div>
                                        {% set icol=loop.index-1 %}
                                        {% set column_form_name = "type_selector_form_for_col_" + icol|string %}
                                        <form action="/column_identities" class="{{ column_form_name }}" method="post" enctype="multipart/form-data">
                                            {% set column_selector_name = "type_selector_for_col_" + icol|string %}
                                            <select 
                                                name="{{ column_selector_name }}" 
                                                class="form-select" 
                                                onchange="$('.{{ column_form_name }}').submit();" 
                                                style="font-size: 1.0em"
                                                >
                                                {% for available_type in ["MIXED","DTERM","OTHER"] %} 
                                                    {% if available_type == setchks_session.columns_info.column_types[icol] %}
                                                    <option selected
                                                    {% else %}
                                                    <option
                                                    {% endif %} 
                                                    value={{ available_type }}> {{ pulldown_text[available_type] }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>  
                                    
                                </th>
                                {% endfor %}
                            </tr>

                            <!-- <tr>
                                <th scope="col"></th>
                                {%for cell in file_data[0] %}
                                <th scope="col" style="font-style:italic;"> Column analysis here (TBI)</th>
                                {% endfor %}
                            </tr> -->
                    
                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col">Row 1 (Header)</th>
                                {%for cell in file_data[0] %}
                                <th scope="col">{{ cell.string }}</th>
                                {% endfor %}
                            </tr>
                    
                    
                        </thead>
                    

                        {% for row in file_data[1:] %}
                            <!-- {% if rows_processable[loop.index-1] %} -->
                            <tr>
                            <!-- {% else %}
                            <tr style="background-color: lightgray;">
                            {% endif %} -->
                                <th scope="row">Row {{ loop.index + 1 }}</th>
                            {%for cell in row %}
                                <td>{{ cell.string }}
                                <!-- {% set column_type=setchks_session.columns_info.column_types[loop.index-1] %}
                                {% if cell.component_type=="Concept_Id" and column_type in ["DID","DTERM","OTHER"] %} <b>(C!)</b> {% endif %}
                                {% if cell.component_type=="Concept_Id" and column_type in ["CID","MIXED"] %} (C) {% endif %}
                                {% if cell.component_type=="Description_Id" and column_type in ["CID","DTERM","OTHER"] %} <b>(D!)</b> {% endif %}
                                {% if cell.component_type=="Description_Id" and column_type in ["DID","MIXED"] %} (D) {% endif %}
                                {% if cell.component_type not in ["Description_Id","Concept_Id"] and column_type in ["CID","DID","MIXED"] %} <b>(!)</b> {% endif %} -->
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        <tbody>
                  </table>
                </div>
            </div>




        </div>



    </div>

</div>

{% endblock %}