<nav 
    class="navbar navbar-expand-lg navbar-light  
    " 
    style="
        min-height:6vh;
        padding-top:1vh;
        padding-left: 1em;
        background-color:lightgray; 
        font-size:1.33em; 
        vertical-align: middle;
        "
    >
    <span style="width:100vw">
        <span 
            onclick="window.location.href='/data_upload'"
            class="breadcrumb-item setchks-breadcrumb-{{ breadcrumbs_styles["data_upload"] }}"> 
            <i id="home_button" class="bi bi-house-fill setchks-home-icon" ></i> Home 
        </span> 
        <span><i class="bi bi-chevron-double-right"></i></span>
        <span class="setchks-breadcrumb-{{ breadcrumbs_styles["column_identities"] }}"> View</span>
        <span><i class="bi bi-chevron-double-right"></i></span>
        <span class="setchks-breadcrumb-{{ breadcrumbs_styles["enter_metadata"] }}"> Settings </span>
        <span><i class="bi bi-chevron-double-right"></i></span>
        <span class="setchks-breadcrumb-{{ breadcrumbs_styles["select_and_run_checks"] }}"> Checks</span>  
           
        <span style="width:4.5vw; margin-left: 1vw;">
            {% if nav_prev_page_shown %}
                {% if nav_prev_page_live == True %}
                    {% set inactivate_class="" %}
                    {% set href=nav_prev_page_location %}
                {% else %}
                    {% set inactivate_class="setchks-forw-back-btn-inactive" %}
                    {% set href="#" %}
                {% endif %}
                <a href="{{ href }}" class="btn setchks-forw-back-btn {{inactivate_class}}">
                    <i class="bi bi-arrow-left"></i> 
                </a>
            {% else %}
                <a href="{{ href }}" class="btn setchks-forw-back-btn setchks-forw-back-btn-hidden ">
                    <i class="bi bi-arrow-left"></i> 
                </a>
            {% endif %}
        </span>

        <span style="width:5vw">
            {% if nav_next_page_shown %}
                {% if nav_next_page_live == True %}
                    {% set inactivate_class="" %}
                    {% set href=nav_next_page_location %}
                {% else %}
                    {% set inactivate_class="setchks-forw-back-btn-inactive" %}
                    {% set href="#" %}
                {% endif %}
                <a href="{{ href }}" class="btn setchks-forw-back-btn {{inactivate_class}} ">
                    <i class="bi bi-arrow-right"></i> 
                </a>
            {% endif %}
        </span>

        <span class="float-end">
            <span style="padding-right: 2vw; font-weight: bold;"> {{config["ENVIRONMENT"]}} </span>
            <span style="padding-right: 2vw; font-weight: bold;"> {{setchks_session.email}} </span>
            <span style="padding-right: 2vw; font-weight: bold;" mouseover="hello"> 
            <a 
                href="{{ url_for('static', filename='docs/VSMT Set Checks (PoC) - Guide to the User Interface and the Outcome Report (v1.1).pdf') }}" target="_blank"
                style="-webkit-text-stroke: 1.3px; padding-right: 2vw; text-decoration: none;"
                >
                <i class="bi bi-question-circle"></i>
            </a>
            <a href="/feedback">Feedback</a>
            </span>
                <span style="padding-right: 2vw; font-weight: bold;"> <a href="ts_and_cs" >T&Cs</a> </span>
                <span style="padding-right: 2vw; font-weight: bold;"> <a href="/logout" >Logout</a> </span>
            </span>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
                })
        </script>
    </span>
</nav>  