{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}

{% set nav_prev_page_shown=True %}
{% set nav_prev_page_live=True %}
{% set nav_prev_page_location="/enter_metadata" %}

{% set nav_next_page_shown=False %}
{% set nav_next_page_live=True %}
{% set nav_next_page_location="" %}

{% include 'navigation.html' %}
    
<style>
    .run_status_blinking {
        animation: animate 1.5s linear infinite; 
    }  
    .run_status_static {
        animation: none; 
    }  
    @keyframes animate{ 
        0% { opacity: 0; } 
        50% { opacity: 0.7; } 
        100% { opacity: 0; } 
    } 
</style> 

<div class="container-fluid  mt-0 ">   
    <div class="row" style="height: 80vh;">

        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-9" style="padding-left: 1.0vh; padding-right: 0.5vh;">           
            <div class="card" style="height: 79vh; margin-top:1vh; overflow:auto">
                <div class="card-header setchks-card-header">
                    Suite of Set Checks Corresponding to Settings
                </div>
                <div class="card-body">              
                    <table class="table table-bordered" style="font-size:1.0em; ">
                        <thead>
                            <tr>
                                <th class="w-50" scope="col">Set Check</th>
                                <th class="w-25" scope="col">Run Status</th>
                                <th class="w-25" scope="col">Set Rating(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for setchk in ["PREPROCESSING"] + setchks_session.selected_setchks %}
                                {% if setchk!="PREPROCESSING" %}
                                    {% set sc=setchk.setchk_code %}
                                    {% set name_to_show=setchk.setchk_short_name_plus_short_code %}
                                {% else %}
                                    {% set sc="PREPROCESSING" %}
                                    {% set name_to_show="Preprocessing" %}
                                    {% endif %}
                                {% set setchk_run_status = setchks_session.setchks_run_status[sc] %}
                                <tr style="margin-top: 0em;">
                                    <td> {{ name_to_show }}</td>
                                    <td> 
                                        {% if setchk_run_status=="started" %}
                                            <span class="run_status_blinking"> 
                                            <b>Running..</b> 
                                            </span>
                                        {% else %}
                                            <span class="run_status_static"> 
                                            {% if setchk_run_status=="queued" %}
                                                In queue    
                                            {% elif setchk_run_status=="finished" %}
                                                <b>Completed</b>
                                            {% elif setchk_run_status=="failed" %}
                                                <i><a href="rq?action=failed_jobs">Job failed</a></i>
                                            {% elif 
                                                (not setchks_session.passes_gatekeeper) 
                                                and (setchks_session.setchks_to_run_as_gatekeeper_not_passed != [])
                                                and (sc not in setchks_session.setchks_to_run_as_gatekeeper_not_passed) 
                                                %}
                                                <i>Will not be run</i> 
                                            {% else %}
                                                Ready to run
                                            {% endif %}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% set RAG_colors={
                                            "RED":"#ff0000",
                                            "AMBER": "#ffaa00",
                                            "GREEN": "#009f3b",
                                            }
                                        %}
                                        {% if sc in setchks_session.setchks_results %}
                                            {% for sltr in setchks_session.setchks_results[sc].set_level_table_rows %}
                                                {% if sltr.simple_message != None %}
                                                    {% set RAG_rating=sltr.simple_message.split()[0][1:-1] %}
                                                    {% set RAG_color=RAG_colors[RAG_rating] %}
                                                    <i class="bi bi-circle-fill" style="color:{{ RAG_color }}" ></i>
                                                    {{ RAG_rating }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if sc=="PREPROCESSING" and setchk_run_status=="finished" %}
                                            (-)
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        
                        </tbody>
                    </table>

                    {% if setchks_session.processing_status in [
                        "4_CREATING_REPORT",
                        "5_REPORT_AVAILABLE",
                        "6_REPORT_CREATION_FAILED", 
                        ] %}

                        <table class="table table-bordered" style="font-size:1.0em">
                            <thead>
                                <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Run Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Create Excel Output</td>
                                    <td>
                                        {% set generate_run_status = setchks_session.setchks_run_status["GENERATE_EXCEL"] %}
                                        {% if generate_run_status=="started" %}
                                            <span class="run_status_blinking"> 
                                                <b>Creating..</b> 
                                            </span>
                                        {% else %}
                                            <span class="run_status_static"> 
                                                {% if generate_run_status=="queued" %}
                                                    In queue 
                                                {% elif generate_run_status=="finished" %}
                                                    <b>Ready</b>
                                                {% elif generate_run_status=="failed" %}
                                                    <i><a href="rq?action=failed_jobs">Job failed</a></i>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-3" style="padding-left: 0.5vh; padding-right: 1.0vh;">
 
            <div style="height:1vh;"></div>
            <div 
                {% if setchks_session.processing_status=="1_CHECKS_READY_TO_RUN" %}
                    class="setchks-big-green-btn"
                    onclick="window.location.href='/select_and_run_checks?do_preprocessing=True'"
                {% else %}
                    class="setchks-big-green-btn setchks-big-green-btn-inactive"
                {% endif %}
                >
                <i class="bi bi-play-btn-fill"></i> Run checks
                <div style="font-size: .6em; line-height: 1.3em;"> 
                    (and create report)
                </div>
            </div>

            {% if setchks_session.setchks_jobs_manager.jobs_running %}
                <script>
                    setTimeout(function() { window.location='/select_and_run_checks'; }, 1000);
                </script>
            {% endif %}
                       
            <div style="height:1vh;"></div>
            <div 
                {% if setchks_session.processing_status=="5_REPORT_AVAILABLE" %}
                    class="setchks-big-green-btn"
                    onclick="window.location.href='/select_and_run_checks?download_report=True'"
                {% else %}
                    class="setchks-big-green-btn setchks-big-green-btn-inactive"
                {% endif %}>
                <i class="bi bi-cloud-download-fill"></i> Download report
            </div>
            <div class="card" style="margin-top:1vh; overflow:auto">
                <div class="card-body" style="font-size: 1em;">
                    <div style="font-size:1.33em;"> 
                        Stage:
                    </div>
                    <ul>
                        {% for status_required, words in [
                            ("1_CHECKS_READY_TO_RUN","Checks ready to run"),
                            ("2_PREPROCESSING","Preprocessing Value Set"),
                            ("3_CHECKS_RUNNING","Checks running"),
                            ("4_CREATING_REPORT","Creating report"),
                            ("5_REPORT_AVAILABLE","Report available"),
                            ] %}
                            {% set blinking_style = "" %}
                            {% if setchks_session.processing_status==status_required %}
                                {% set list_item="<b>" + words + "</b>" %}
                                {% if setchks_session.processing_status in ["2_PREPROCESSING", "3_CHECKS_RUNNING", "4_CREATING_REPORT"] %}
                                    {% set blinking_style = "run_status_blinking" %}
                                {% endif %}
                            {% else %}
                                {% set list_item='<span style="color: grey"><i>' + words + '</i></span>' %}
                            {% endif %}
                            
                            <li class="{{ blinking_style }}" style="font-size:1.4em" >{{ list_item|safe }}</li>
                        {% endfor %}
                    </ul>
                    <ul>
                        {% if setchks_session.passes_gatekeeper==False %}
                            <div style="font-weight: bold; color: red">
                            <b> [Alert] It has been detected that some of the Identifiers in your value set 
                                do not meet certain basic criteria.
                            A set of basic checks will be run, which will provide information on the problematic entries. 
                            No other checks will be run until these entries are corrected or removed from your file, and the file is reloaded.
                            </b>
                            </div>
                        {% endif %}

                        {% if setchks_session.setchks_jobs_manager.jobs_running %}
                            <div>
                                <p>
                                    Please do not navigate to another page in the tool while jobs are queued or running.
                                </p>
                                <p>
                                    Your jobs may remain queued until the jobs of other users have completed.
                                </p>
                                <p>
                                    Please see User Guide for further information on run times and the queueing system.
                                </p>

                            </div>
                        {% endif %}        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
