{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}VSMT_uprot_app{% endblock %}</h1> 
{% endblock %}

{% block content %}

<div class="container-fluid  mt-5 ">
    
    <div class="row">    
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-4 ">
            <div class="card" style="height: 30vh" >
                <div class="card-header">
                    <strong>ECL Expression</strong>
                </div>                
                <div class="panel" style="overflow:auto">
                <form action="ecl_explorer" method="post">
                    <div class="form-group">
                        <textarea class="form-control" id="ecl_entry_area" name="ecl" rows="5">{{ ecl }}</textarea>
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
            </div>
            <div class="card" style="height: 60vh" >
                <div class="card-header">
                    <strong>ECL History</strong>
                </div>                
                <div class="panel" style="overflow:auto">
                {% for old_ecl in ecl_store %}
                    {{ old_ecl }} <br>
                {% endfor %}
                </div>
            </div>
        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}
        <div class="col-8 ">
            <div class="card" style="height: 80vh" >
                <div class="card-header">
                    <strong>ECL result</strong> 
                </div>  
                <div class="panel" style="overflow:auto">
                {% for output_line in ecl_response %}
                    {{ output_line | safe }} <br>
                {% endfor %}    
                </div>
            </div>
        </div>        
    </div>
</div>

  
{% endblock %}