{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    
<div class="container-fluid  mt-5 ">
    <div class="row">
        
        
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-2 ">
            
            <div class="card">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Instructions here </li>
                        <li> and here </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="margin-top:1em;">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Overall analysis: </li>                
                    </ul>
                </div>
            </div>
        
        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-10 ">
            
            
            <!-- THE TABLE -->
            
            <div class="card" style="height: 60vh" >
                <!-- <div class="card-header">
                    <strong>Table</strong>
                </div>                 -->
                <div class="panel" style="overflow:auto">
                <table class="table table-bordered" >

                    <thead>
                        
                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col"></th>
                                {%for cell in file_data[0] %}
                                <th scope="col">{{ cell.string }}</th>
                                {% endfor %}
                            </tr>

                            <tr>
                                <th scope="col">Column type</th>
                                {%for cell in file_data[0] %}
                                <th scope="col">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Other
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Concept Id</a></li>
                                        <li><a class="dropdown-item" href="#">Description Id</a></li>
                                        <li><a class="dropdown-item" href="#">Mixed Id</a></li>
                                        <li><a class="dropdown-item" href="#">Other</a></li>
                                        </ul>
                                    </div>
                                </th>
                                {% endfor %}
                            </tr>

                            <tr>
                                <th scope="col"></th>
                                {%for cell in file_data[0] %}
                                <th scope="col"> ........</th>
                                {% endfor %}
                            </tr>


                    </thead>
                    
                        {% for row in file_data[1:] %}
                            <tr>
                            <th scope="row">{{ loop.index }}</th>
                            {%for cell in row %}
                                <td>{{ cell.string }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        <tbody>
                  </table>
                </div>
            </div>
        </div>
    <div class="row" style="margin-top:1em">
        
        <div class="col-6"> 
        </div>
        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                }
            .setchks-btn:hover {background-color:#ffeb3b; border-style: solid; border-color:#005eb8; border-width :3px;  }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                }
        </style>
        <div class="col-6">
            <button type="button" class="btn setchks-btn-inactive">Restart</button>
            <button type="button" class="btn setchks-btn-inactive">Reload With Current Settings</button>
            <a href="/confirm_upload"  class="btn setchks-btn">Back (Confirm upload)</a>
            <a href="/metadata"  class="btn setchks-btn">Next (Metadata)</a>
        </div>
    
    </div>
</div>

{% endblock %}