{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    
<div class="container-fluid  mt-5 ">
    <div class="row">
        
        
        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-2 ">
            
            <div class="card">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Instructions here </li>
                        <li> and here </li>
                    </ul>
                </div>
            </div>
            <div class="card" style="margin-top:1em;">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Data was loaded from file <b>{{ filename }}</b> </li>
                        <li> Data is assumed to have a header (other options TBI) </li>
                        <li> Data is assumed to have tab delimiters (other options TBI) </li>
                        
                    </ul>
                </div>
            </div>
        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-10">
            <div class="card" style="height: 60vh" >
                <!-- <div class="card-header">
                    <strong>Table</strong>
                </div>                 -->
                <div class="panel" style="overflow:auto">
                    <table class="table table-bordered">
                        <thead>
                            <!-- add the row of column titles -->
                            <tr>
                                <th scope="col">Row</th>
                                {%for cell in file_data[0] %}
                                <th scope="col">{{ cell.string }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        {% for row in file_data[1:] %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                {%for cell in row %}
                                    <td>{{ cell.string }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:1em">
        
        <div class="col-5"> 
        </div>
        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                }
            .setchks-btn:hover {background-color:#ffeb3b; border-style: solid; border-color:#005eb8; border-width :3px;  }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                }
        </style>
        <div class="col-7">
            <button type="button" class="btn setchks-btn-inactive">Restart</button>
            <button type="button" class="btn setchks-btn-inactive">Reload With Current Settings</button>
            <a href="/data_upload"  class="btn setchks-btn"><i class="bi bi-arrow-left"></i> (Data upload)</a>
            <a href="/column_identities"  class="btn setchks-btn"><i class="bi bi-arrow-right"></i> (Column identities)</a>
        </div>
    
    </div>
</div>

{% endblock %}