{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Checks{% endblock %}</h1> 
{% endblock %}

{% block content %}
    

<div class="container-fluid  mt-5 ">
    
    <div class="row">    

        {#                  #}
        {# LEFT HAND PANEL #}
        {#                  #}

        <div class="col-6 ">
            
            <div class="card" style="height: 20vh">
                <div class="card-body" style="font-size: 1em;">
                    Set checks will be run against this SCT Release:
                    <form action="/enter_metadata" class="sct_version_selection" method="post" enctype="multipart/form-data">
                        <select name="select_sct_version" class="form-select" 
                            aria-label="Default select example" 
                            onchange="$('.sct_version_selection').submit();" 
                            style="margin-top: 0.5em;"
                            >
                            {% for available_sct_version in setchks_session.available_sct_versions %} 
                                {% if available_sct_version == setchks_session.sct_version %}
                                <option selected
                                {% else %}
                                <option
                                {% endif %} 

                                value="{{ loop.index }}"> {{ available_sct_version.name_for_pulldown }}

                                {% if loop.index==1 %} (current) {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="card" style="height: 19vh; margin-top:1vh;">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> You will enter name and purpose here (TBI) </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="height: 19vh; margin-top:1vh;">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> You will choose "data entry" etc here (TBI) </li>
                    </ul>
                </div>
            </div>

        </div>

        {#                  #}
        {# RIGHT HAND PANEL #}
        {#                  #}

        <div class="col-6">


            <div class="card" style="height: 40vh">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Graphical version selection will be here (TBI) </li>
                    </ul>
                </div>
            </div>

            <div class="card" style="height: 19vh; margin-top:1vh;">
                <div class="card-body" style="font-size: 1em;">
                    <ul>
                        <li> Version detail info will be here (TBI) </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top:1em">
    
        <div class="col-5"> 
        </div>
        <style>
            .setchks-btn {
                background-color:white;
                color: black;
                border-style: solid;
                border-color:#005eb8;
                border-width :3px; 
                }
            .setchks-btn:hover {background-color:#ffeb3b; border-style: solid; border-color:#005eb8; border-width :3px;  }
            .setchks-btn-inactive {
                background-color: lightgray;
                color: lightslategray;
                border-style: solid;
                }
        </style>
        <div class="col-7">
            <button type="button" class="btn setchks-btn-inactive">Restart</button>
            <button type="button" class="btn setchks-btn-inactive">Reload With Current Settings</button>
            <a href="/column_identities"  class="btn setchks-btn"><i class="bi bi-arrow-left"></i> (Column identities)</a>
            {% if setchks_session.sct_version == None %}
                <a href="/select_and_run_checks"  class="btn setchks-btn-inactive"><i class="bi bi-arrow-right"></i> (Select and run checks)</a>
            {% else %}
                <a href="/select_and_run_checks"  class="btn setchks-btn"><i class="bi bi-arrow-right"></i> (Select and run checks)</a>
            {% endif %}
        </div>
    
    </div>
</div>

  
{% endblock %}
